{% extends 'base.html' %}
{% load static %}
{% block homeact %}active{% endblock homeact %}
{% block body %}
<section class="jumbotron text-center bg-light">
    <div class="container">
        <img src='{% static 'standard/kd.png' %}' alt="logo" width="120">
        <h1 class="jumbotron-heading"><span>KD Knowledge Academy</span></h1>
        <h1 class="text-weight-light"><span>Hi {{user.first_name}}</span></h1>
        <p class="lead text-muted">KD Knowledge Academy is the Swatantra Nagar's one of the best coaching institution<br>We belive in quality education.</p>
        <p>
            <a href="/cources" class="btn btn-outline-info my-2">Get All Cources Here.</a>
        </p>
    </div>
</section>
{% endblock body %}