{% extends 'base.html' %}
{% load static %}
{% block body %}

<form action='myaccount/' method='post' class="form-signin container">
{% csrf_token %}
  <div class="text-center mb-4">
    <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal"><img src='{% static 'standard/kd.png' %}' alt="logo" width="120">KD Knowledge Academy</h1>
    <p>Login to your account<a href="https://caniuse.com/#feat=css-placeholder-shown"></a></p>
  </div>

  <div class="form-label-group py-4">
    <input type="text" id="inputusername" class="form-control" placeholder="Username" name="username" {% if user.username %} value='{{user.username}}'{% endif %} required autofocus>
  </div>

  <div class="form-label-group pb-4">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"required>
  </div>
    <button class="btn btn-primary" type="submit">Login</button>
  <a class="btn btn-secondary my-2" href='/register/'>Or Create An Account</a>
</form>
{% endblock body %}