{% extends 'base.html' %}
{% load static %}
{% block body %}
<form action='user/' method='post' class="form-signin container">
{% csrf_token %}
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal"><img src='{% static 'standard/kd.png' %}' alt="logo" width="120">KD Knowledge Academy</h1>
    <p>Register your account<a href="https://caniuse.com/#feat=css-placeholder-shown"></a></p>
  </div>

  <div class="form-label-group py-4">
    <input type="text" id="inputusername" class="form-control" placeholder="Username" name="username" required autofocus>
  </div>

  <div class="form-label-group pb-4">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"required>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
</form>
{% endblock %}